* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: rgb(32, 30, 30);
}

a {
  color: #333;
  text-decoration: none;
}

.todo-container {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.todo-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.todo-item:last-child {
  border-bottom:0;
}

.todo-item p {
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  flex: 1;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #D1E2FF;
}

input[type="checkbox"] {
  margin:20px;
}

.todo-button {
  margin: 20px;
  background: none;
  border: none;
  font-size: 20px;
  color: #ff6600;
}

.todo-button i:hover {
  font-size: 19px;
  color: #bb4e06;
  transition: all 0.2s;
}